body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  font-family: 'Arial', sans-serif;
  color: #fff;
}

.login-container {
  background-color: #1a1a1a;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 300px;
}

.login-container img {
  width: 50px;
  margin-bottom: 20px;
}

.login-container h2 {
  margin: 0;
  font-size: 24px;
  margin-bottom: 10px;
}

.login-container p {
  margin: 0;
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
}

.login-container p a {
  color: #007bff;
  text-decoration: none;
}

.login-container p a:hover {
  text-decoration: underline;
}

.login-container input[type="email"],
.login-container input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.login-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(171, 26, 238);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: navy;
}


