body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #161616;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #232b2b;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

.logo img {
    height: 50px;
    width: 50px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 0.3s ease;
    transition-delay: 0.1s;
}

.navbar ul li a:hover {
    color: #b207f6;
}

.navbar ul li a:hover::after {
    width: 100%;
    left: 0;
    background: #b207f6;
}

.navbar ul li a.get-started {
    border: 2px solid #b207f6;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #b207f6;
    transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a.get-started:hover {
    background-color: transparent;
    color: white;
}

.navbar ul li a.get-started::after {
    display: none;
}

.navbar a:hover,
.navbar .home-active {
    color: #b207f6;
    position: relative;
}

.active {
    background-color: #b207f6;
    color: #fff;
}
.navbar .menu-icon {
    font-size: 24px;
    display: none;
    cursor: pointer;
}

.navbar .menu-icon .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.navbar .menu-icon.open .bar:nth-child(2) {
    opacity: 0;
}

.navbar .menu-icon.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.navbar .menu-icon.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navbar ul.show {
    display: block;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 2rem;
    background: var(--second-bg-color);
    background-color: #161616;
    min-height: 100vh;
    padding: 5rem 10% 8rem;
    
}

.heading {
    text-align: center;
    font-size: 3.2rem;
}

.about-video {
    padding-top: 1.3%;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
    color: white;
}

.about-content h3 {
    font-size: 2.3rem;
    background: linear-gradient(#5a02de, #b207f6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.about-content p {
    font-size: 1rem;
    margin: 0.6rem 0 1.3rem;
    color:white;
}

span {
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #232b2b;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 0;
        z-index: 1000;
    }

    .navbar ul li {
        margin: 0;
        text-align: center;
        padding: 10px 0;
        border-top: 1px solid #fff;
    }

    .navbar ul li a {
        font-size: 18px;
    }

    .navbar .menu-icon {
        display: block;
    }
}

.home {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 8% 8rem;
    background-color: #232b2b;
    background-image: linear-gradient(#232b2b, rgba(8, 6, 6, 0.5)), url(img/crypto.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-image img {
    width: 80%;
}

.home-content h1 {
    font-weight: 600;
    font-size: 60px;
    color: #fff;
}
.home-content p {
    color: #fff;
}

@media (max-width: 768px) {
    .home {
        padding-top: 80px;
    }
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
    transition: all 0.5s ease;
    
}

.home-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;

}

@media (max-width: 768px) {
    .home-grid {
        grid-template-columns: 1fr;
    }
}

.home-content {
    max-width: 630px;
}

.home-content h1 {
    font-size: 50px;
    line-height: 1.2;
}

.home-content h1:nth-child(3) {
    background: linear-gradient(rgb(90, 2, 222), #b207f6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home-content p {
    font-size: 16px;
    margin: 25px 0 30px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn {
    padding: 10px 28px;
    background: #b207f6;
    border: 2px solid #b207f6;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    transition: 0.3s;
}

.btn:hover {
    background: transparent;
    border-color: #801dab;
}

    
        .stats-section {
            background-color: #801dab;
            color: white;
            text-align: center;
            padding: 50px 0;
            font-size: 60px;
        }
    
        .stat-item {
            display: inline-block;
            width: 22%;
            margin: 0 1%;
        }
    
        .stat-item i {
            font-size: 50px;
            color: #fff;
        }
    
        .stat-item h2 {
            font-size: 48px;
            margin: 10px 0;
        }
    
        .stat-item p {
            font-size: 18px;
            margin: 0;
        }
    
        @media (max-width: 768px) {
            .stat-item {
                width: 45%;
                margin: 10px 2.5%;
            }
        }
    
        @media (max-width: 480px) {
            .stat-item {
                width: 90%;
                margin: 10px 5%;
            }
        }
    
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width:1024px) {
    .about {
        flex-direction: column;
        padding: 2rem;
        text-align: center;
        position: relative;
        
    }

    .about-video iframe {
        width: 520;
    }

    .heading {
        font-size: 3rem;
        align-items: center;

    }

    .about-content h2 {
        text-align: center;
        line-height: 1.2;
        color: #fff;
    }

    .about-content h3 {
        font-size: 2rem;

    }

    .about-content p {
        font-size: 1rem;
        text-align: justify;
    }
}

@media (max-width:768px) {
    .about {
        flex-direction: column;
        padding: 2rem;
        text-align: center;
        position: relative;
    }

    .about-video iframe {
        width: auto;
        height: auto;
    }

    .heading {
        font-size: 3rem;
        align-items: center;

    }

    .about-content h2 {
        text-align: center;
        line-height: 1.2;
    }

    .about-content h3 {
        font-size: 2rem;
    }

    .about-content p {
        font-size: 1rem;
        text-align: justify;
        color: white;
    }
}

.card {
    border: none;
    transition: transform 0.2s ease-in-out;
    background-color: #232b2b;
    color: #fff;
    max-width: 600px;
    margin: auto;
}

#news .card-img-top {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.card-text {
    color: white;
}

.team-card-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.subtitle {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 40px;
    text-align: center;
}

.team-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-card {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(229, 225, 225, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.team-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
        display: block;
            margin: 0 auto;
}

.team-card .name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.team-card .role {
    font-size: 0.9em;
    color: #b207f6;
    margin-bottom: 10px;
}

.team-card .rating {
    color: #f39c12;
}

@media (max-width: 768px) {
    .team-card {
        width: 100%;
        margin: 10px 0;
        
    }
}

html {
    scroll-behavior: smooth;
}

.team-card-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.subtitle {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 40px;
    text-align: center;
}

.team-card {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(229, 225, 225, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(229, 225, 225, 0.3);
}

.team-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.team-card .name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.team-card .role {
    font-size: 0.9em;
    color: #b207f6;
    margin-bottom: 10px;
}

.team-card .rating {
    color: #f39c12;
}

@media (max-width: 768px) {
    .team-card-container {
        padding: 10px;
    }
    .team-card {
        width: calc(100% - 40px);
        margin: 10px 0;
    }
}

.ourteam{
    min-height: 100vh;
    padding: 5rem 10% 8rem;
    background-color: #232b2b;
    background-image: linear-gradient(#232b2b, rgba(8, 6, 6, 0.2)), url(img/tiga.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#news {
    padding: 1rem 10% 3rem;
}

#news .card-img-top {
    max-height: 150px; 
    object-fit: cover; 
    width: 100%; 
    border-radius: 8px;  
}

.card:hover .card-img-top {
    transform: scale(1.02);
}

.social-icons {
    color: #b207f6;
    margin-top: 10px;
  }
  